# Default ignored files
/shelf/
/workspace.xml
/AndroidProjectSystem.xml
/codeStyles/codeStyleConfig.xml
/compiler.xml
/deploymentTargetSelector.xml
/gradle.xml
/misc.xml
/codeStyles/Project.xml
/inspectionProfiles/Project_Default.xml
/runConfigurations.xml
/vcs.xml
/studiobot.xml
/kotlinc.xml
